**/node_modules/*
**/out/*
**/.next/*
**/dist/*
**/coverage/*
src/modules/old/
src/components_old/
**/.storybook/*
**/storybook-static/*
/.vscode
/packages
/public
/shared
generated

# cypress
/cypress
