**/node_modules/*
**/out/*
**/.next/*
**/dist/*
**/coverage/*
src/modules/old/
src/components/*
!src/components/App
!src/components/Pages
src/components/Pages/*
!src/components/Pages/layout.*
!src/components/Pages/MainPage
**/.storybook/*
**/storybook-static/*
/.vscode
/packages
/public
/shared
generated

# cypress
/cypress
