node_modules
.next
yarn.lock
package-lock.json
public
coverage
dist
generated
src/modules/old/
src/components/*
!src/components/App
!src/components/Pages
src/components/Pages/*
!src/components/Pages/layout.*
!src/components/Pages/MainPage
