$baseFont: 'Open Sans';
$baseFontSize: e('12px/14px');
$baseFontWeight: 400;

$hoverLinkColor: #005580;

$leaf: url("../img/leaf.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
$leaf-paddings: 6px 0 6px 40px;
$leaf-font-size: 17px;
$leaf-font-weight: bold;

.brand-leaf{
    width: 59px;
    background-repeat: no-repeat;
}   
